--Script para popular cidades do brasil

USE [G_CONDOMINO]
GO

--SET IDENTITY_INSERT [dbo].[Pais] ON
--GO
--INSERT [dbo].[Pais] ([Id], [Nome]) VALUES (1058, N'Brasil')
--GO
--SET IDENTITY_INSERT [dbo].[Pais] OFF
--GO

SET IDENTITY_INSERT [dbo].[Estado] ON
GO
INSERT [dbo].[Estado] ([Id], [PaisID], [Nome], [UF]) VALUES (11, 1058, N'RONDONIA', N'RO')
GO
INSERT [dbo].[Estado] ([Id], [PaisID], [Nome], [UF]) VALUES (12, 1058, N'ACRE', N'AC')
GO
INSERT [dbo].[Estado] ([Id], [PaisID], [Nome], [UF]) VALUES (13, 1058, N'AMAZONAS', N'AM')
GO
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO


SET IDENTITY_INSERT [dbo].[Cidade] ON 

GO
INSERT [dbo].[Cidade] ([Id], [Nome], [EstadoID]) VALUES (1100015, N'ALTA FLORESTA D OESTE', 11)
GO
INSERT [dbo].[Cidade] ([Id], [Nome], [EstadoID]) VALUES (1100023, N'ARIQUEMES', 11)
GO
INSERT [dbo].[Cidade] ([Id], [Nome], [EstadoID]) VALUES (1100031, N'CABIXI', 11)
GO
SET IDENTITY_INSERT [dbo].[Cidade] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

ALTER TABLE [dbo].[Cidade]  WITH CHECK ADD  CONSTRAINT [FK_Cidade_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([Id])
GO
ALTER TABLE [dbo].[Cidade] CHECK CONSTRAINT [FK_Cidade_Estado]
GO
ALTER TABLE [dbo].[Estado]  WITH CHECK ADD  CONSTRAINT [FK_Estado_Pais] FOREIGN KEY([PaisID])
REFERENCES [dbo].[Pais] ([Id])
GO
ALTER TABLE [dbo].[Estado] CHECK CONSTRAINT [FK_Estado_Pais]
GO
